*{
       padding: 0;
       margin: 0;
}

body{
       width: 100%;
       height: 100%;
       background-image: url(./img/dragones1.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

div.contacto_fondo{
       width: 100%;
       height: 100vh;
       margin: auto;
}

div.contacto_container{
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.5);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: auto;
       border-radius:3px;

}

img.roleros-logo{
       width: 70px;
}
h2{
       font-family: 'Orbitron', sans-serif;  
       color: rgb(206, 206, 206);
       text-shadow: 1px 1px 1px cyan;
       letter-spacing: 1.4px;
       font-size: 20px;
}
form.contacto_form{
       display: flex;
       flex-direction: column;
       justify-content:center;
       align-items: center;
       margin: 1rem;
       background-color: rgb(23, 23, 23);
       padding: 1rem;
       box-shadow: 2px 2px  2px  black;
       border-radius:3px;
       width: 240px;
       height: 300px;
}
input{
       font-family: 'Gentium Plus', serif;
       width: 80%;
       height: 25px;
       border: none;
       text-align: center;
       background-color:rgb(206, 206, 206);
}
textarea{
       font-family: 'Gentium Plus', serif;
       width: 80%;
       height: 100px;
       border: none;
       text-align: center;
       background-color:rgb(206, 206, 206);
}
button{
       width: 80%;
       height: 30px;
       background-color:rgb(206, 206, 206);
       color: black;
       font-weight: bolder;
       font-family: 'Gentium Plus', serif;
}


p{
       font-family: 'Gentium Plus', serif;
       color: white;
}
strong{
       color: cyan;
}
a{
       text-decoration: none;
       color: white;
}





/* COLOR FONODO DORM 
       background-color: rgb(23, 23, 23);

COLORBLANCOOSCURO LETRAS 
       color: rgb(206, 206, 206);


FOSNT FAMILY TITULO 
       font-family: 'Orbitron', sans-serif;

FONTFAMILY CHICA
       font-family: 'Gentium Plus', serif;
       font size 20px;
*/