*{
       padding: 0;
       margin: 0;
}

body{
       width: 100%;
       height: 100vh;
       background-image: url(./img/dragones1.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

div.contacto_fondo{
       width: 100%;
       height: 100vh;
       margin-top: 30%;
}

div.contacto_container{
       width: 80%;
       height: 70vh;
       background: rgba(0, 0, 0, 0.5);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: auto;
       border-radius:3px;

}

img.roleros-logo{
       width: 70px;
}
h2{
       font-family: 'Gentium Plus', serif;   
       color: white;
       text-shadow: 1px 1px 1px cyan;
}
form.contacto_form{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       margin: 1rem;
       background: rgba(137, 43, 226, 0.726);
       padding: 1rem;
       box-shadow: 2px 2px  2px  black;
       border-radius:3px;
}
input{
       font-family: 'Gentium Plus', serif;
       width: 80%;
       border: none;
       text-align: center;
       color:blueviolet;
}
textarea{
       font-family: 'Gentium Plus', serif;
       width: 80%;
       border: none;
       text-align: center;
       color:blueviolet;
}
button{
       width: 80%;
       background: cyan;
       color: black;
       font-weight: bolder;
       font-family: 'Gentium Plus', serif;
}


p{
       font-family: 'Gentium Plus', serif;
       color: white;
}
strong{
       color: cyan;
}
a{
       text-decoration: none;
       color: white;
}
